{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login | My Blog</title>
    <link rel="stylesheet" href="{% static 'login.css' %}">
    <script src="https://cdn.tailwindcss.com"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    {% include "components/navbar.html" %}
<div class="auth-bg">
    <div class="auth-container">
        <form method="post" class="auth-form">
            {% csrf_token %}
            <h2>Login to Your Account</h2>
            {{ form.as_p }}
            <button type="submit" style : "width: 111%;" class="btn-submit">Login</button>
            <p class="auth-footer">
                Don't have an account? <a href="{% url 'register' %}">Register here</a>
            </p>
        </form>
    </div>
</div>
</body>
</html>